# Entorno virtual
.venv/
venv/

# Archivos compilados
__pycache__/
*.pyc

# Archivos de entorno (nunca subir a GitHub)
.env

# Base de datos local
*.sqlite3

# Archivos generados
*.log

# Config VS Code
.vscode/
# Backups locales de base de datos
*.backup
*.dump
*.sql